debian/arco-authors/*
debian/arco-authors.substvars
debian/arco-authors.debhelper.log
debian/arco-authors.postinst
debian/debhelper-build-stamp
debian/.debhelper
examples/latex/arco-exam/arco-exam.cls
missing.png
tex/arco-article.cls
debian/files
tex/arco-book.cls
tex/arco-report.cls
