Source: arco-authors
Section: shells
Priority: extra
Maintainer: ARCO Research Group <sysadm@arco.esi.uclm.es>
Uploaders: David Villa Alises <David.Villa@gmail.com>,
	   Oscar Aceña Herrera <oscaracena@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.8
Homepage: https://bitbucket.org/arco_group/arco-authors

Package: arco-authors
Architecture: all
Depends: ${misc:Depends},
	 texlive-binaries,
 	 texlive-lang-spanish,
	 texlive-latex-extra,
	 texlive-latex-recommended,
	 texlive-extra-utils,
	 texlive-fonts-extra,
	 texlive-fonts-recommended,
	 texlive-bibtex-extra,
 	 cm-super,
	 inkscape,
	 netpbm,
	 aspell-en,
	 dblatex,
	 dia
Recommends: unoconv,
            noweb
Description: ARCO authors tools, styles and templates
 LaTeX and DocBook utilities and styles for Arco authors.
