Source: arco-authors
Section: shells
Priority: extra
Maintainer: ARCO Research Group <sysadm@arco.esi.uclm.es>
Uploaders: David Villa Alises <David.Villa@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3
Homepage: https://bitbucket.org/arco_group/arco-authors

Package: arco-authors
Recommends: unoconv
Architecture: all
Depends: ${misc:Depends},
	 texlive-binaries,
	 texlive-latex-extra,
 	 texlive-lang-spanish,
	 texlive-latex-recommended,
	 texlive-extra-utils,
 	 cm-super, inkscape, dblatex, rubber, netpbm, dia, aspell-en
Description: ARCO authors tools, styles and templates
 LaTeX and DocBook utilities and styles for Arco authors.
